*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ui{
    width: 1440px;
    height: 3905px;
}

.dot-matrix-font{
    font-family: 'Dot Matrix', sans-serif;
}

.hero-section{
    background-color: black;
    width: 1437px;
    height: 1067.85px;
}

.nav{
    background-color: black;
    width: 1437px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Dot Matrix', sans-serif;
    color: white;
}

.logo{
    margin-top: 30px;
    margin-bottom: 22px;
    margin-left: 60px;
}

.side-nav{
    font-weight: 400;
    font-size: 20px;
    height: 44px;
    width: 312px;
    display: flex;
    flex-direction: row;
    margin:16px 60px 8px 925px;
}

.side-nav span{
    padding: 12px 16px;
}

.ear1, .login{
    margin-left: 12px;
}

.main{
    display: flex;
    flex-direction: row;
}

.phone-model{
    font-size: 36px;
    font-weight: 400;
    color: white;
    margin-bottom: 792.85px;
    margin-left: 193px;
    margin-top: 170px;
    margin-right: 84px;
}

.phone{
    height: 564.8466796875px;
    width: 282.1251220703125px;
    margin-bottom: 264px;
    margin-top: 171px;
    margin-right: 99.87px;
}

.intro{
    height: 288px;
    width: 374px;
    color: white;
    margin-top: 342px;
}

.event-header{
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 30px;
}

.desging-text{
    margin-bottom: 30px;
}

.event-details{
    margin-bottom: 30px;
}

.inconsolata-font{
    font-weight: 400;
    font-size: 22px;
    font-family: 'Inconsolata';
}

.btn-learn-more{
    border: none;
    background-color: white;
    color: black;
    padding: 12px 20px 12px 18px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 30px;
}

.short-line{
    margin-top: 196px;
}

.nothing-facts{
    width: 1437px;
    height: 230px;
}

.facts-align{
    width: 100%;
    padding: 54px 60px;
    display: flex;
    flex: row;
}

.f3{
    margin: 0 64px;
}

.ear-buds-secton-1{
    height: 757.15px;
    width: 1437px;
    background-color: black;
}



